name: Build and push docker image for branch or tag
on:
  release:
    types: [ created ]
  push:
    branches: ['**']
jobs:
  build-html-pdf-export-container:
    name: Build html-pdf-export container
    runs-on: ubuntu-latest
    if: github.repository == 'ScientaNL/html-pdf-export'
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set Github environment variables
        uses: ScientaNL/github-actions-env-toolkit@1.0.0

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: DockerHub Login
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_PUBLIC_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PUBLIC_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Build & push Docker image
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: scienta/html-pdf-export:${{ github.event_name == 'push' && 'branch-' || '' }}${{env.GITHUB_REF_NAME_SLUG}}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache

